@model List<WEBGIAY.Areas.Merchant.Models.DONHANG_CTDH_ViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Merchant/Views/Shared/_LayoutWebmaster.cshtml";
    var i = 0;

}
@section Navigation
{
    @Html.Partial("~/Areas/Merchant/Views/navigation.cshtml");
    }
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Assets/Customer/js/mustache.min.js"></script>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Merchant/Home/Index">Danh sách đơn hàng </a> / <a href="/Merchant/Home/Index">Đơn hàng đang tiến hành</a> 
    </li>
    @*<li class="breadcrumb-item active">My Dashboard</li>*@
</ol>
@*<ol>
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <td class="control-label">Tình trạng</td>
                        <td class="control-label">Thời gian</td>
                        <td class="control-label">Địa chỉ</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-control" id="ttdonhang">
                                <option value="0">Đang trong quá trình xử lí</option>
                                <option value="1">Đã hoàn tất</option>
                            </select>
                        </td>
                        <td>
                            <input type="datetime" class="form-control" id="date" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ol>*@
<ol>
    <div class="row" id="tblData">
        <div class="col-lg-12">
            @foreach (var item in Model)
            {
                i++;
                string tab = "tab" + i;
                string selector = "#" + tab + ".single-bottom";
                <div class="tab">
                    <ul class="place" onclick=expand(@tab) style="list-style-type:none">
                        <li class="breadcrumb" style="color:black;font-size:16px">Đơn hàng: @item.MADH | Ngày đặt hàng: @item.NGAYMUA | Tình trạng: @(item.TINHTRANG == 0 ? "Đang tiến hàng" : "Hoàn tất") | Tổng tiền : @String.Format("{0:0,0} vnđ", item.TONGTIEN)</li>
                       
                        <div class="clearfix"> </div>
                    </ul>
                    <div id="@tab" class="single-bottom" style="color:black">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Khách hàng</th>
                                    <td colspan="6">@item.TENCUSTOMER</td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại giao hàng: </th>
                                    <td colspan="6">@item.SDT</td>
                                </tr>
                                <tr>
                                    <th>Giao đến địa chỉ:</th>
                                    <td colspan="6">@item.DIACHI</td>
                                </tr>
                                <tr>
                                    <th>Ghi chú khác:</th>
                                    <td colspan="6">@item.GHICHU</td>
                                </tr>

                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Kích thước</th>
                                    <th>Gía</th>
                                    <th>Gía khuyến mãi</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiển</th>
                                    <th>Tình trạng đơn hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ct in item.ctdh)
                                {
                                    var iddoi = "dh" + ct.MADH + "" + ct.MASP+""+ct.MAKICHCO;
                                    var idhuy = "huy" + ct.MADH + "" + ct.MASP + "" + ct.MAKICHCO;
                                    <tr>
                                        <td>@ct.TENSANPHAM</td>
                                        <td>@ct.KICHCO</td>
                                        <td>@ct.GIA</td>
                                        <td>@ct.GIAGIAM</td>
                                        <td>@ct.SOLUONG</td>
                                        <td>@ct.THANHTIEN</td>
                                        <td><button id=@iddoi class="btn btn-primary" onclick=doitinhtrang(@ct.MADH,@ct.MASP,@ct.MAKICHCO)> @ct.TINHTRANG </button></td>
                                        <td><button id=@idhuy class="{{MASP}} btn btn-danger" onclick=huydonhang(@ct.MADH,@ct.MASP,@ct.MAKICHCO)>Hủy</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</ol>

<script id="data-template" type="x-tmpl-mustache">
    <div class="col-lg-12">
        @foreach (var item in Model)
        {
            i++;
            string tab = "tab" + i;
            string selector = "#" + tab + ".single-bottom";
            <div class="tab">
                <ul class="place" onclick=expand(@tab) style="list-style-type:none">
                    
                    <li class="breadcrumb" style="color:black;font-size:18px">Đơn hàng:{{MADH}} | Ngày đặt hàng: {{NGAYMUA}} | Tổng tiền: {{TONGTIEN}}</li>
                   <div class="clearfix"> </div>
                </ul>
                <div id="@tab" class="single-bottom" style="color:black">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Khách hàng</th>
                                <td colspan="6">{{TENCUSTOMER}}</td>
                            </tr>
                            <tr>
                                <th>Số điện thoại giao hàng: </th>
                                <td colspan="6">{{SDT}}</td>
                            </tr>
                            <tr>
                                <th>Giao đến địa chỉ:</th>
                                <td colspan="6">{{DIACHI}}</td>
                            </tr>
                            <tr>
                                <th>Ghi chú khác:</th>
                                <td colspan="6">{{GHICHU}}</td>
                            </tr>
                       
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Kích thước</th>
                                <th>Gía</th>
                                <th>Gía khuyến mãi</th>
                                <th>Số lượng</th>
                                <th>Thành tiển</th>
                                <th>Tình trạng đơn hàng</th>
                            </tr>
                        </thead>
                        <tbody>                           
                            {{#ctdh}}
                                <tr> 
                                            
                                                          
                                    <td>{{TENSANPHAM}}</td>
                                    <td>{{KICHCO}}</td>
                                    <td>{{GIA}}</td>
                                    <td>{{GIAGIAM}}</td>
                                    <td>{{SOLUONG}}</td>
                                    <td>{{THANHTIEN}}</td>
                                    <td><button class="btn btn-primary" onclick=doitinhtrang({{MADH}},{{MASP}}) id={{iddoi}}>{{TINHTRANG}}</button></td>        
                                    <td><button class="btn btn-danger" onclick=huydonhang({{MADH}},{{MASP}}) id={{idhuy}}>Hủy</button></td>
                                       </tr>
                            {{/ctdh}}  
                           
                        </tbody>
                    </table>
                </div>
            </div>
        }
       
        <div class="clearfix"></div>
        
    </div>
</script>
<script>
    $(document).ready(function () {
        //
        $(".tab .single-bottom").hide();
    });
</script>

<script>
    
    doitinhtrang =function(dh,sp,kc)
    {
        //var tt = document.getElementById("ttdonhang").value;
        var iddoi = "dh" + dh + "" + sp+""+kc;
        var idhuy = "huy" + dh + "" + sp+""+kc;
        var tinhtrangdoi = document.getElementById(iddoi).textContent;
        var tinhtranghuy = document.getElementById(idhuy).textContent;
        if (tinhtrangdoi != "Đã giao" && tinhtranghuy!="Đã hủy")
        {
            $.ajax({
                type: 'POST',
                type: 'GET',
                url: '/Merchant/Home/thaydoitinhtrang',
                data: { madh: dh, masp: sp ,kc:kc},
                contentType: 'application/json;charset=utf-8',
                error: function (err) {
                    alert(err.statusText);
                },
                success: function (response) {
                    if (response != -1) {
                        
                        document.getElementById(iddoi).textContent = response;
                        if (response == "Đã giao")
                            location.reload();
                    }

                }
            });
        }
       
    }
    expand = function (id) {
        $(id).slideToggle(300);
        huydonhang = function (dh, sp,kc) {
            var iddoi = "dh" + dh + "" + sp + "" + kc;
            var idhuy = "huy" + dh + "" + sp + "" + kc;
            var tinhtrangdoi = document.getElementById(iddoi).textContent;
            var tinhtranghuy = document.getElementById(idhuy).textContent;           
            if (tinhtranghuy != "Đã hủy" && tinhtrangdoi!="Đã giao") {
                $.ajax({
                    type: 'GET',
                    url: '/Merchant/Home/thaydoitinhtrang',
                    data: { madh: dh, masp: sp,kc:kc, huy: 0 },
                    contentType: 'application/json;charset=utf-8',
                    error: function (err) {
                        alert(err.statusText);
                    },
                    success: function (response) {
                        if (response != -1) {
                            //var id = "huy" + dh + "" + sp;
                            document.getElementById(idhuy).textContent = "Đã hủy";
                            document.getElementById(iddoi).textContent = "Đã hủy";
                            location.reload();
                        }

                    }
                });
            }

        }
        $('#ttdonhang').change(function () {
            $('#tblData').html("");
            show();

        });
        //show = function () {
        //    var tt = document.getElementById("ttdonhang").value;
        //    $.ajax({
        //        type: 'GET',
        //        url: '/Merchant/Home/loaddatabytt',
        //        data: { tt: tt },
        //        contentType: 'application/json;charset=utf-8',

        //        error: function (err) {
        //            alert(err.statusText);
        //        },
        //        success: function (response) {
        //            var data = response.data;
        //            var html = '';
        //            var datarow;
        //            var template = $('#data-template').html();
        //            $.each(data, function (i, item) {
        //                datarow = {
        //                    //donhang:,
        //                    MADH: item.MADH,
        //                    NGAYMUA: item.NGAYMUA,
        //                    TONGTIEN: item.TONGTIEN,
        //                    TENCUSTOMER: item.TENCUSTOMER,
        //                    SDT: item.SDT,
        //                    DIACHI: item.DIACHI,
        //                    GHICHU: item.GHICHU,
        //                    ctdh: $.each(item.ctdh, function (j, ct) {
        //                        [{
        //                            iddoi: "dh" + ct.MADH + "" + ct.MASP,
        //                            idhuy: "huy" + ct.MADH + "" + ct.MASP
        //                            //TENSP: ct.TENSANPHAM
        //                            //        //KICHCO: ct.KICHCO,
        //                            //        //GIA: ct.GIA,
        //                            //        //GIAGIAM: ct.GIAGIAM,
        //                            //        //SOLUONG: ct.SOLUONG,
        //                            //        //THANHTIEN: ct.THANHTIEN
        //                            //        //TINHTRANG: "Đã hủy"
        //                        }]
        //                    })
        //                }
        //                html = Mustache.to_html(template, datarow);
        //                $('#tblData').append(html);
        //            });
        //            $(".tab .single-bottom").hide();
        //            //ct.TINHTRANG == 0 ? "Đã hủy" : (ct.TINHTRANG == 1 ? "Đang xử lí" : (ct.TINHTRANG == 2 ? "Đang giao" : "Đã giao"))
        //            //$('#tblData').html("");
        //            //html = Mustache.render(template, data[0]);

        //            //for (i = 0; i < data.length; i++)
        //            //{

        //            //}
        //        }

        //    });

        //};
    }
</script>