@model WEBGIAY.Areas.Webmaster.Models.InvoidViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Webmaster/Views/Shared/_LayoutWebmaster.cshtml";
}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-male"></i> Merchant
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                <h2>Bảng Đơn Hàng</h2>
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group" id="id03">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã Đơn Hàng</th>
                                <th>Merchant</th>
                                <th>Customer</th>
                                <th>Mã Sản Phẩm</th>
                                <th>Kích cỡ</th>
                                <th>Số Lượng</th>
                                <th>Thành Tiền</th>
                                <th>Ngày Mua</th>
                                <th>Địa Chỉ</th>
                                <th>Tình Trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CTDH)
                            {
                                <tr>
                                    <td>@item.MADH</td>
                                    <td onclick="document.getElementById('@item.MAMERCHANT').style.display = 'block'; document.getElementById('id03').style.display = 'none'" style="width:auto;">@item.MAMERCHANT</td>
                                    <td id="@item.MAMERCHANT" class="modal">
                                        @using (Entity.EntityFramework.WEBGIAYEntities db = new Entity.EntityFramework.WEBGIAYEntities())
                                        {
                                            IEnumerable<Entity.EntityFramework.MERCHANT> list = db.MERCHANTS.ToList();

                                        foreach (var mer in list)
                                        {
                                            if (@mer.MAMERCHANT == @item.MAMERCHANT)
                                            {
                                            <form class="modal-content animate " action="/action_page.php">
                                                <div class="container">
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Tên đăng nhập </li>
                                                        <li>@mer.TENDANGNHAP</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Tên cửa hàng </li>
                                                        <li>@mer.TENMERCHANT</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Ngày Đăng Ký </li>
                                                        <li>@mer.NGAYDK</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Ngày Sinh </li>
                                                        <li>@mer.NGAYSINH</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Email: </li>
                                                        <li>@mer.EMAIL</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Số điện thoại: </li>
                                                        <li>@mer.SDT</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Địa chỉ</li>
                                                        <li>@mer.DIACHI</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="text-info">Tình Trạng</li>
                                                        <li>@mer.TINHTRANG</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="text-info">Rating</li>
                                                        <li>@mer.RATING</li>
                                                    </ul>
                                                </div>
                                            </form>
                                            }
                                        }
                                        }
                                        </td>
                                        @foreach (var dh in Model.DONHANG)
                                        {
                                            if (@dh.MADH == @item.MADH)
                                            {
                                            <td onclick="document.getElementById('@dh.MACUSTOMER').style.display = 'block'; document.getElementById('id03').style.display = 'none'" style="width:auto;">@dh.MACUSTOMER</td>
                                            <td id="@dh.MACUSTOMER" class="modal">
                                                @using (Entity.EntityFramework.WEBGIAYEntities db = new Entity.EntityFramework.WEBGIAYEntities())
                                                {
                                                    IEnumerable<Entity.EntityFramework.CUSTOMER> list = db.CUSTOMERS.ToList();

                                                    foreach (var cus in list)
                                                    {
                                                        if (@cus.MACUSTOMER == @dh.MACUSTOMER)
                                                        {
                                                            <form class="modal-content animate " action="/action_page.php">
                                                                <div class="container">
                                                                    <ul onmousedown="document.getElementById('@dh.MACUSTOMER').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                                        <li class="text-info">Tên Customer </li>
                                                                        <li>@cus.TENCUSTOMER</li>
                                                                    </ul>
                                                                    <ul onmousedown="document.getElementById('@dh.MACUSTOMER').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                                        <li class="text-info">Ngày Đăng Ký </li>
                                                                        <li>@cus.NGAYDK</li>
                                                                    </ul>
                                                                    <ul onmousedown="document.getElementById('@dh.MACUSTOMER').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                                        <li class="text-info">Ngày Sinh </li>
                                                                        <li>@cus.NGAYSINH</li>
                                                                    </ul>
                                                                    <ul onmousedown="document.getElementById('@dh.MACUSTOMER').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                                        <li class="text-info">Email: </li>
                                                                        <li>@cus.EMAIL</li>
                                                                    </ul>
                                                                    <ul onmousedown="document.getElementById('@dh.MACUSTOMER').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                                        <li class="text-info">Số điện thoại: </li>
                                                                        <li>@cus.SDT</li>
                                                                    </ul>
                                                                    <ul onmousedown="document.getElementById('@dh.MACUSTOMER').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                                        <li class="text-info">Địa chỉ</li>
                                                                        <li>@cus.DIACHI</li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="text-info">Tình Trạng</li>
                                                                        <li>@cus.TINHTRANG</li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="text-info">Rating</li>
                                                                        <li>@cus.RATING</li>
                                                                    </ul>
                                                                </div>
                                                            </form>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>@item.MASP</td>
                                            <td>@item.MAKICHCO</td>
                                            <td>@item.SOLUONG</td>
                                            <td>@item.THANHTIEN</td>
                                            <td>@dh.NGAYMUA</td>
                                            <td>@dh.DIACHI</td>
                                            <td>@item.TINHTRANG</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>