@model List<WEBGIAY.Areas.Customer.Models.ITEMGIOHANGViewModel>
           
@{
    ViewBag.Title = "listsanphamtronggiohang";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@{
    double? tongtien = 0;
    double? tongtiengiam = 0;
    int soluong = 0;
    var user = (WEBGIAY.Common.customerlogin)Session["USER_SESSION"];
}
@section menutopright{
    @Html.Partial("~/Areas/Customer/Views/giohang/giohanghientai.cshtml")
}
<div class="check">
    <div class="container">
        <div class="col-md-3 cart-total">
            <a class="continue" href="@Url.Action("tatca","sanpham")">Tiếp tục mua hàng</a>
            <div class="price-details">
                <h3>CHI TIẾT GIÁ</h3>
                <span>TỔNG CỘNG</span>
                @foreach (var item in Model)
                {
                    tongtien = tongtien + item.THANHTIENITEM;
                    tongtiengiam = tongtiengiam + item.TIENGIAM;
                    soluong = soluong + item.SOLUONG;
                }
                <span class="total1" id="total">@String.Format("{0:0,0} vnđ",tongtien)</span>
                <span>GIẢM GIÁ</span>
                <span class="total1" id="discount">@String.Format("{0:0,0} vnđ",tongtiengiam)</span>               
                <div class="clearfix"></div>	
            </div>
            <hr class="featurette-divider">
            <ul class="total_price">
                <li class="last_price"> <h4>THANH TOÁN</h4></li>
                <li class="last_price" id="lastprice"><span>@String.Format("{0:0,0} vnđ", tongtien - tongtiengiam)</span></li>
                <div class="clearfix"> </div>
            </ul>
            <div class="clearfix"></div>
            <a class="order" href="#" id="submit">Đặt hàng</a>
        </div>
        <div class="col-md-9 cart-items">
            <h1>Thông tin giao hàng</h1>
            <table style="padding:10px">
                <tr>
                    <td width="100px">
                        <label class="control-label"> Địa chỉ</label>
                    </td>
                    <td width="300px">
                        <select id="diachi" onchange="showotherdiachi()" class="form-control">
                            <option value="">@user.DIACHI</option>
                            <option value="other">Khác</option>
                        </select>
                    </td>
                    <td width="300px" >
                        <input type="text" id="diachikhac" class="form-control " style="visibility: hidden;" />
                    </td>
                </tr>
                <tr>
                    <td width="100px" >
                        <label class="control-label">Số điện thoại</label>
                    </td>
                    <td width="300px">
                        <select id="sdt" onchange="showothersdt()" class="form-control">
                            <option value="">@user.SDT</option>
                            <option value="other">Khác</option>
                        </select>

                    </td>
                    <td width="300px" >
                        <input type="text" id="sdtkhac" class="form-control" style="visibility: hidden;" />
                    </td>
                    <
                </tr>
                <tr>
                    <td width="100px" >
                        <label class="control-label ">Ghi chú</label>
                    </td>
                    <td colspan="2">
                        <textarea id="ghichu" class="form-control"></textarea>
                    </td>
                </tr>

            </table>
            <h1>Giỏ hàng <span id="count">(@soluong)</span></h1>
           @{
                foreach (var item in Model)
                {
                    
                    string cartheader = "cart-header" + item.SANPHAM.MASP+""+item.KICHCO.MAKICHCO;
                    string close="close"+item.SANPHAM.MASP+""+item.KICHCO.MAKICHCO;
                    <div class="cartheader" id="@cartheader">
                        <div class="close" id="@close" onclick=remove(@item.SANPHAM.MASP,@item.KICHCO.MAKICHCO)><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src=@item.SANPHAM.ANH class="img-responsive" alt="" />
                            </div>
                            <div class="cart-item-info">
                                <ul class="qty">
                                    <li><p style="font-size:inherit">Kích cỡ : @item.KICHCO.KICHCO1 </p></li>
                                    <li><p style="font-size:inherit ">Số lượng :@item.SOLUONG</p></li>                                    
                                    <li><p style="font-size:inherit ">Gía :@String.Format("{0:0,0}", item.SANPHAM.GIA)</p></li>
                                    <li><p style="font-size:inherit ">Khuyến mãi: @String.Format("{0:0,0}", item.SANPHAM.GIAGIAM)</p></li>
                                </ul>
                                <div class="delivery">
                                    <p>@item.SANPHAM.TENSP</p>
                                    <span>Màu: @item.SANPHAM.MAUSAC</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>                  
                } 
            }  
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script>
    function showothersdt() {
        var value = $('#sdt :selected').html();
        if (value == "Khác") {
            $('#sdtkhac').css('visibility', 'visible');
        }
        else $('#sdtkhac').css('visibility', 'hidden');
    };
    function showotherdiachi() {
        var value = $('#diachi :selected').html();
        if (value == "Khác") {
            $('#diachikhac').css('visibility', 'visible');
        }
        else $('#diachikhac').css('visibility', 'hidden');

    };
</script>
<script>
    $(document).ready(function () {
        $('#submit').click(function(){
            submit();
        });
        function clear(masp, makichco) {
            $('#cart-header' + masp + '' + makichco).fadeOut('slow', function () {
                $(this).remove();
            });
        };
        function submit() {
            var diachi;
            var sdt;
            var ghichu=document.getElementById("ghichu").value;
            if ($('#diachi :selected').html() == "Khác") {
                diachi = document.getElementById("diachikhac").value;
            }
            else diachi = $('#sdt :selected').html();
            if ($('#sdt :selected').html() == "Khác") {
                sdt = document.getElementById("sdtkhac").value;
            }
            else diachi = $('#diachi :selected').html();
            request = {
                macustomer: Number(@user.MACUSTOMER),
                tongtien: Number(@(tongtien - tongtiengiam)),
                diachi: diachi,
                sdt: sdt,
                ghichu: ghichu
            };
            $.ajax({
                type: 'POST',
                url: '/giohang/luudonhang',
                data: JSON.stringify(request),
                contentType: 'application/json;charset=utf-8',
                error: function (err) {
                    alert('Error: ' + err.statusText);
                },
                success:function(result)
                {
                    if (result == -1)
                        alert("Đơn hàng gửi đi không thành công!");
                    else
                    {
                        alert("Đơn hàng đã được gửi đi");
                        location.reload();
                    }
                    
                }
            });
        }
        function remove(masp,makichco)
        {
            request = {
                masp: masp,
                makichco: makichco
            };
            $.ajax({
                type: 'POST',
                url: '/giohang/removeitem',
                data: JSON.stringify(request),
                contentType: 'application/json;charset=utf-8',
                error: function (err) {
                    alert('Error: ' + err.statusText);
                },
                success:function(result)
                {
                    var list = [];
                    clear(masp, makichco);
                    $.each(result, function (i, data) {
                        list.push(data);
                    });
                    $('#count').html('(' + list[0] + ')');
                    $('#total').html(list[1]);
                    $('#discount').list(data[2]);
                    $('#lastprice').list(data[3]);
                    //$('#sl').html($('#count').html());
                    //$('#tt').html($('#lastprice')+ " vnđ");
                    //alert("Đã xóa!");
                }
            });
        }
    });
</script>

