@model List<WEBGIAY.Areas.Customer.Models.ITEMGIOHANGViewModel>
           
@{
    ViewBag.Title = "listsanphamtronggiohang";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<div class="check">
    <div class="container">
        <div class="col-md-3 cart-total">
            <a class="continue" href="#">Continue to basket</a>
            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span class="total1">6200.00</span>
                <span>Discount</span>
                <span class="total1">10%(Festival Offer)</span>
                <span>Delivery Charges</span>
                <span class="total1">150.00</span>
                <div class="clearfix"></div>
            </div>
            <hr class="featurette-divider">
            <ul class="total_price">
                <li class="last_price"> <h4>TOTAL</h4></li>
                <li class="last_price"><span>6150.00</span></li>
                <div class="clearfix"> </div>
            </ul>
            <div class="clearfix"></div>
            <a class="order" href="#">Place Order</a>
        </div>
        <div class="col-md-9 cart-items">
            <h1>My Shopping Bag @Model.Count</h1>
           @{
                foreach (var item in Model)
                {
                    string cartheader = "cart-header" + item.SANPHAM.MASP;
                    string close="close"+item.SANPHAM.MASP;
                    <div class=cartheader>
                        <div class=close><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src=@item.SANPHAM.ANH class="img-responsive" alt="" />
                            </div>
                            <div class="cart-item-info">
                                <ul class="qty">
                                    <li><p>Kích cỡ : @item.KICHCO.KICHCO1 </p></li>
                                    <li><p>Số lượng :@item.SOLUONG</p></li>
                                    <li><p>Số lượng: @(item.SANPHAM.GIAGIAM.HasValue?item.SANPHAM.GIAGIAM : item.SANPHAM.GIA)</p></li>
                                </ul>
                                <div class="delivery">
                                    <p>@item.SANPHAM.TENSP</p>
                                    <span>@item.SANPHAM.MAUSAC</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            }  
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script>
    $(document).ready(function (c) {
        $('.close1').on('click', function (c) {
            $('.cart-header').fadeOut('slow', function (c) {
                $('.cart-header').remove();
            });
        });
    });
</script>
<script>
    $(document).ready(function (c) {
        $('.close2').on('click', function (c) {
            $('.cart-header2').fadeOut('slow', function (c) {
                $('.cart-header2').remove();
            });
        });
    });
</script>

