@model List<Entity.EntityFramework.MERCHANT>
@{
    ViewBag.Title = "listtaikhoanbikhoa";
    Layout = "~/Areas/Merchant/Views/Shared/_LayoutWebmaster.cshtml";
}
@section Navigation
{
    @Html.Partial("~/Areas/Webmaster/Views/navigationW.cshtml");
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="">Danh sách tài khoản bị khóa chức năng đăng tin</a>
    </li>
</ol>
<ol>
    <div class="row">
        <table></table>
    </div>
</ol>
<ol>    
    <div class="col-lg-12">
        <div id="result"></div>
        <div class="pull-right"><button class="btn btn-success" id="khuyenmai">Khuyến mãi tin</button><button class="btn btn-primary" id="kiemtra">Kiểm tra đánh giá</button></div>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered table-hover" style="font-size:13px">
                <thead>
                    <tr>
                        <th width="20">ID</th>
                        <th>Tên nhà bán hàng</th>
                        <th>Tên đăng nhập</th>
                        <th>Ngày đăng kí</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th width="20">Đánh giá</th>
                        <th width="20">Số tin còn lại</th>
                        <th width="20">Số lần khóa</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody id="data">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MAMERCHANT</td>
                            <td>@item.TENMERCHANT</td>
                            <td>@item.TENDANGNHAP</td>
                            <td>@item.NGAYDK</td>
                            <td>@item.EMAIL</td>
                            <td>@item.DIACHI</td>
                            <td>@item.SDT</td>
                            <td>@item.RATING</td>
                            <td>@item.SOTINHIENTAI</td>
                            <td>@item.SOLANBIKHOA</td>
                            <td>@(item.TINHTRANG==1?"Đang hoạt động" : (item.TINHTRANG==-1?"Bị khóa":"Chờ xác nhận"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</ol>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#kiemtra').click(function () {
        $.ajax({
            type: "post",
            url: "/Webmaster/quanlimer/kiemtrarating",
            error:function(err)
            {
                alert(err.statusText);
            },
            success: function(data)
            {
                if (data > 0)
                {
                    location.reload();
                    $('#result').html("<div class='pull-left' style='color:red;font-style:italic'>" + data + " nhà bán hàng bị khóa chức năng đăng tin do đánh giá trung bình <1</div>");
                }
                    
                else
                    $('#result').html("<div class='pull-left' style='color:lightgreen;font-style:italic'> Không có nhà bán hàng nào có rating <1</div>");

            }
        });
    });
    $('#khuyenmai').click(function () {
        $.ajax({
            type: "post",
            url: "/Webmaster/quanlimer/khuyenmai",
            error: function (err) {
                alert(err.statusText);
            },
            success: function (data) {
                if (data > 0) {
                    location.reload();
                    $('#result').html("<div class='pull-left' style='color:greed;font-style:italic'>" + data + " nhà bán hàng được khuyến mãi</div>");
                }

                else
                    $('#result').html("<div class='pull-left' style='color:blue;font-style:italic'> Không có nhà bán hàng nào được khuyến mãi</div>");

            }
        });
    });
</script>
