@model WEBGIAY.Areas.Webmaster.Models.Merchant_registerViewModel
    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/Webmaster/Views/Shared/_LayoutWebmaster.cshtml";
    }

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Tables
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard </a>
                        </li>
                        <li class="active">
                            <i class="fa fa-male"></i> Merchant
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row" style="width:170%">
                <div class="col-lg-6">
                    <h2>Bảng Merchant</h2>
                    <form class="form-inline my-2 my-lg-0 mr-lg-2" id="id03">
                        <div class="input-group" style="width:40%">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Merchant</th>
                                    <th>Tên Shop</th>
                                    <th>Chủ sở hữu</th>
                                    <th>Phone</th>
                                    <th>Số Tin</th>
                                    <th>Tình Trạng</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody id="Test">
                                @foreach (var item in Model.MERCHANT)
                                {
                                    <tr>
                                        <td onclick="document.getElementById('@item.MAMERCHANT').style.display = 'block'; document.getElementById('id03').style.display = 'none'" style="width:auto;">@item.MAMERCHANT</td>
                                        <td>@item.TENMERCHANT</td>
                                        <td>@item.TENDANGNHAP</td>
                                        <td>@item.SDT</td>
                                        <td>@item.SOTINHIENTAI</td>
                                        <td>@item.TINHTRANG</td>
                                        <td>@item.RATING</td>
                                        <td id="@item.MAMERCHANT" class="modal" style="height:150%;width:50%">
                                            <form class="modal-content animate " action="/action_page.php" style="">
                                                <div class="container" style="width:80%">
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Tên đăng nhập </li>
                                                        <li>@item.TENDANGNHAP</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Tên cửa hàng </li>
                                                        <li>@item.TENMERCHANT</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Ngày Đăng Ký </li>
                                                        <li>@item.NGAYDK</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Ngày Sinh </li>
                                                        <li>@item.NGAYSINH</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">CMND: </li>
                                                        <li>@item.CMND</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Email: </li>
                                                        <li>@item.EMAIL</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Số điện thoại: </li>
                                                        <li>@item.SDT</li>
                                                    </ul>
                                                    <ul onmousedown="document.getElementById('@item.MAMERCHANT').style.display = 'none'; document.getElementById('id03').style.display = 'block'">
                                                        <li class="text-info">Địa chỉ</li>
                                                        <li>@item.DIACHI</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="text-info">Mật Khẩu</li>
                                                        <li  onclick="document.getElementById('id04').style.display = 'block'" >@item.MATKHAU</li>
                                                        <li id="id04" class="modal" style="width:50% ; height:100% ;padding-right:15%">
                                                            <form class="modal-content animate" action="/action_page.php">
                                                                <div class="imgcontainer">
                                                                    <span onclick="document.getElementById('id04').style.display = 'none'; document.getElementById('id03').style.display = 'none'" class="close" title="Close Modal">&times;</span>
                                                                </div>
                                                                <div class="container" style="width:50% ; ">
                                                                    <ul>
                                                                        <li class="text-info">Mật khẩu </li>
                                                                        <li>@Html.PasswordFor(model => model.MATKHAU)</li>
                                                                        @Html.ValidationMessageFor(model => model.MATKHAU)
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="text-info">Nhập lại mật khẩu:</li>
                                                                        <li>@Html.PasswordFor(model => model.MATKHAUNHAPLAI)</li>
                                                                        @Html.ValidationMessageFor(model => model.MATKHAUNHAPLAI)
                                                                    </ul>
                                                                    <ul style="padding-top:10%">
                                                                        <input type="submit" value="Xác Nhận">
                                                                    </ul>
                                                                    
                                                                </div>
                                                            </form>
                                                        </li>
                                                        
                                                    </ul>
                                                    <ul >
                                                        <li class="text-info">Tình Trạng</li>
                                                        <li>@item.TINHTRANG</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="text-info">Rating</li>
                                                        <li>@item.RATING</li>
                                                    </ul>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div >
                    <button onclick="document.getElementById('id01').style.display = 'block'; document.getElementById('id03').style.display = 'none'"  style="width:auto;">Thêm</button>
                    <div id="id01" class="modal" style="width:40% ;padding-left:10%;margin-left:40% " >
                        @Html.ValidationSummary()
                        @if (ViewBag.Success != null)
                        {
                            <p class="alert alert-success">@ViewBag.Success</p>
                        }
                        @using (@Html.BeginForm("Index", "WebMaster", FormMethod.Post))
                        {
                            <form class="modal-content animate" action="/action_page.php">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display = 'none'; document.getElementById('id03').style.display = 'block'" class="close" title="Close Modal">&times;</span>
                                </div>
                                <div class="container" style="width:50%;margin-left:5% ">
                                    <ul>
                                        <li class="text-info">Tên đăng nhập </li>
                                        <li>@Html.TextBoxFor(model => model.TENDANGNHAP)</li>
                                        @Html.ValidationMessageFor(model => model.TENDANGNHAP)
                                    </ul>
                                    <ul>
                                        <li class="text-info">Mật khẩu </li>
                                        <li>@Html.PasswordFor(model => model.MATKHAU)</li>
                                        @Html.ValidationMessageFor(model => model.MATKHAU)
                                    </ul>
                                    <ul>
                                        <li class="text-info">Nhập lại mật khẩu:</li>
                                        <li>@Html.PasswordFor(model => model.MATKHAUNHAPLAI)</li>
                                        @Html.ValidationMessageFor(model => model.MATKHAUNHAPLAI)
                                    </ul>
                                    <ul>
                                        <li class="text-info">Tên cửa hàng </li>
                                        <li>@Html.TextBoxFor(model => model.TENMERCHANT)</li>
                                        @Html.ValidationMessageFor(model => model.TENMERCHANT)
                                    </ul>
                                    <ul>
                                        <li class="text-info">Ngày Sinh </li>
                                        <li>@Html.TextBoxFor(model => model.NGAYSINH)</li>
                                        @Html.ValidationMessageFor(model => model.NGAYSINH)
                                    </ul>
                                    <ul>
                                        <li class="text-info">CMND: </li>
                                        <li>@Html.TextBoxFor(model => model.CMND)</li>
                                        @Html.ValidationMessageFor(model => model.CMND)
                                    </ul>
                                    <ul>
                                        <li class="text-info">Email: </li>
                                        <li>@Html.TextBoxFor(model => model.EMAIL)</li>
                                        @Html.ValidationMessageFor(model => model.EMAIL)
                                    </ul>
                                    <ul>
                                        <li class="text-info">Số điện thoại: </li>
                                        <li>@Html.TextBoxFor(model => model.SDT)</li>
                                        @Html.ValidationMessageFor(model => model.SDT)
                                    </ul>
                                    
                                    <ul>
                                        <li class="text-info">Địa chỉ</li>
                                        <li>@Html.TextBoxFor(model => model.DIACHI)</li>
                                        @Html.ValidationMessageFor(model => model.DIACHI)
                                    </ul>
                                    <ul style="padding-top:15%">
                                        <input type="submit" value="Khởi Tạo">
                                    </ul>
                                    
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function show() {
            var s = '<form name="Merchant_show"><table><thead><tr><th>Merchant</th><th></th></tr></thead><tbody><tr><td>Chủ sở hữu</td></tr></tbody><tbody><tr><td>Tên Shop</td></tr></tbody><tbody><tr><td>Ngày Sinh</td></tr></tbody><tbody><tr><td>Số Điện Thoại</td></tr></tbody><tbody><tr><td>CMND</td></tr></tbody><tbody><tr><td>Địa Chỉ</td></tr></tbody><tbody><tr><td>Email</td></tr></tbody><tbody><tr><td>Ngày đăng ký</td></tr></tbody><tbody><tr><td>Tình Trạng</td></tr></tbody><tbody><tr><td>Rating</td></tr></tbody><tbody><tr><td>Số Tin</td></tr></tbody></table></form>';
            document.getElementById('Test').innerHTML = s;
        }
        function changeStatus() {

        }
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

